<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.112.0" newVersion="1.0.112.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--阿里云配置,暂时没用-->
    <add key="accessKeyId" value="" />
    <add key="accessKeySecret" value="" />
    <add key="endpoint" value="" />
    <add key="bucketName" />
    <!--运行方式，为0时作为控制台运行,为1时可作为服务运行-->
    <add key="apptype" value="0" />
    <add key="depad" value="yumaster" />
    <add key="lotusSecret" value="sdfsdfsrty45634kkhllghtdgdfss345t678fs" />
  </appSettings>
</configuration>